<div class="tweet-retweeted" ng-if="tweet.retweeted_status">
    <span class="icon-retweet"></span> Retweeted by <a tct-action-user="{{id_str}}" ng-bind="tweet.user.name"></a>
</div>

<h6 class="tweet-title">
    <span class="tweet-title-name" ng-bind="status.user.name"></span>
    <span class="tweet-title-nick" ng-bind="'@'+status.user.screen_name"></span>
</h6>

<p class="tweet-text" ng-bind-html="status | entities"></p>

<div class="tweet-media" ng-class="{'more-media': status.extended_entities.media.length > 1 && !showMoreMedia }" ng-click="showMoreMedia = true">
    <div ng-repeat="media in status.extended_entities.media" class="tweet-media-item">
        <img ng-src="{{media.media_url | nohttps}}" ng-if="media.type === 'photo'">

        <video ng-if="media.type === 'animated_gif' || media.type === 'video'" controls loop >
            <source vsrc="{{media | video | nohttps}}" type="video/mp4">
        </video>
    </div>

    <div ng-repeat="url in status.entities.urls" class="tweet-media-item">
        <div ng-if="(url.expanded_url | youtube)">
            <a ng-href="{{url.expanded_url}}" class="playvideo" target="_blank">
                <span class="playvideo-icon icon-video-play"></span>
                <img ng-src="{{url.expanded_url | youtube | nohttps}}" />
            </a>
        </div>
    </div>
</div>
