<div class="tweet-container"
	 id="tweet-{{tweet.id_str}}"
	 short-click="$parent.timeline.addDetail(status)">

	<div class="tweet-sidebar" ng-click="scrollToId(tweet.id_str)">
		<span class="tweet-ava" ng-style="{'background-image': 'url({{(tweet.retweeted_status.user.profile_image_url || tweet.user.profile_image_url) | nohttps}})'}"></span>
	</div>

	<div class="tweet-content">
		<a href="https://twitter.com/{{tweet.user.screen_name}}/status/{{tweet.id_str}}" class="tweet-time" time="tweet.retweeted_status.created_at || tweet.created_at" target="_blank"></a>

		<!-- <div class="tweet-type" ng-if="tweet.extended_entities"><span class="icon-landscape"></span></div> -->
		<div class="tweet-control">
			<button class="tweet-control-item icon-reply" ng-click="reply(tweet)"></button>
			<button class="tweet-control-item icon-retweet" ng-click="retweet(tweet)" ng-class="{'retweeted': tweet.retweeted}"></button>
			<button class="tweet-control-item icon-star" ng-click="favorite(tweet)" ng-class="{'favorited': tweet.favorited}"></button>
		</div>

		<div ng-init="status = tweet.retweeted_status || tweet"
			 ng-include="'app/tweet/tweetContent.html'">
		</div>


		<!-- External Media -->
		<!--<div class="tweet-media" ng-if="tweet.entities.urls" ng-class="{'more-media': tweet.entities.media.length > 1 && !showMoreMedia }" ng-click="showMoreMedia = true">-->
			<!--<div ng-repeat="media in tweet.entities.urls" class="tweet-media-item">-->
				<!--<tct-media src="media.expanded_url"></tct-media>-->

				<!--<video ng-if="media.type === 'animated_gif' || media.type === 'video'" controls loop >-->
					<!--<source vsrc="{{media | video}}" type="video/mp4">-->
				<!--</video>-->
			<!--</div>-->
		<!--</div>-->

		<!-- Quote -->
		<div class="tweet-quote"
			 ng-init="status = tweet.quoted_status || tweet.retweeted_status.quoted_status"
			 short-click="$parent.timeline.addDetail(status)"
			 ng-if="tweet.quoted_status || tweet.retweeted_status.quoted_status"
			 ng-include="'app/tweet/tweetContent.html'">
		</div>
	</div>

</div>